<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controle de Estoque</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <div class="container">

        <header>

            <h1>
                
                <i class="fa-solid fa-box-archive"></i>Controle de Estoque
            
            </h1>

        </header>


        <section class="mensagens">

            {% with mensagens = get_flashed_messages(with_categories=true) %}
                {% if mensagens %}
                    {% for categoria, mensagem in mensagens %}

                        <p
                    
                            class="{{ categoria }}">
                            {{ mensagem }}
                        </p>

                    {% endfor %}
                {% endif %}
            {% endwith %}

        </section>


        <section class="cards">

            <div class="card">

                <h2>
                    <i class="fa-solid fa-inbox"></i>Cadastrar Produto
                </h2>

                <form action="/cadastrar" method="POST">

                    <label>Nome do Produto:</label>
                    <input type="text" name="nome" required>


                    <label>Quantidade:</label>
                    <input type="number" name="quantidade" min="0" required>

                    <button class="btn-principal" type="submit">
                        
                        <i class="fa-solid fa-floppy-disk"></i>
                        Cadastrar
                    
                    </button>

                </form>

            </div>


            <div class="card">

                <h2>

                    <i class="fa-solid fa-right-to-bracket"></i>Entrada de Produto

                </h2>

                <form action="/entrada" method="POST">

                    <label>Nome do Produto:</label>
                    <input type="text" name="nome" required>


                    <label>Quantidade:</label>
                    <input type="number" name="quantidade" min="1" required>


                    <button class="btn-principal" type="submit">
                        
                         <i class="fa-solid fa-right-to-bracket"></i>Entrada
                        
                    </button>

                </form>

            </div>


            <div class="card">

                <h2>
                    
                    <i class="fa-solid fa-right-from-bracket"></i>Saída de Produto
                
                </h2>

                <form action="/saida" method="POST">

                    <label>Nome do Produto:</label>
                    <input type="text" name="nome" required>


                    <label>Quantidade:</label>
                    <input type="number" name="quantidade" min="1" required>

                    <button class="btn-principal" type="submit">
                        
                        <i class="fa-solid fa-right-from-bracket"></i>Saída
                        
                    </button>

                </form>

            </div>

        </section>


        <section class="produtos">
            <div class="card">
                <h2>

                    <i class="fa-solid fa-boxes-stacked"></i>Produtos
                
                </h2>

                <form action="/buscar" method="POST">

                    <label for="campo-busca">
                        <i class="fa-solid fa-magnifying-glass"></i> Buscar Produto:
                    </label>

                    <input type="text" id="campo-busca" name="pesquisa" placeholder="Ex: Arroz" required>

                    <div>

                        <button class="btn-pesquisar" type="submit">Pesquisar</button>
                        <a href="/" class="btn-mostrar">Mostrar Todos</a>

                    </div>
                    

                </form>

            
                <table>
                    <tr>

                        <th>Produto</th>
                        <th>Quantidade</th>
                        <th>Ação</th>

                    </tr>

                    {% for nome, quantidade in estoque.items() %}

                    <tr>
                        <td>{{ nome }}</td>
                        <td>{{ quantidade }}</td>

                        <td>

                            <a href="/editar/{{nome}}" class="btn-editar">
                                <i class="fa-solid fa-pen"></i>
                                Editar 
                            </a>

                            <form action="/excluir" method="POST">

                                <input type="hidden" name="nome" value="{{ nome }}">

                                <button class="btn-excluir" type="submit" onclick="return confirm('Tem certeza que deseja excluir este produto?')">
                                    
                                    <i class="fa-regular fa-trash-can"></i>
                                    Excluir
                                    
                                </button>

                            </form>

                        </td>

                    </tr>

                    {% endfor %}

                </table>
            </div>
            
        </section>


        <footer>

            <!-- Rodapé (vamos usar futuramente) -->

        </footer>

    </div>

</body>

</html>